/* 
    Created on : 24-may-2016, 12:43:02
    Author     : hgajardofrancino
*/

/*
.PanelLateral{ 
    float: left;
    position: fixed;
    
    top:0px;
    left:-1000px;
    
    width:50%;
    
    height:100%;
    
    z-index:9999;
    
     
}

.PanelLateralContent{
    overflow:auto;
    height: 400px;
}
*/

.ui-outputlabel {
    font-size: 14px;
}

.ClienteCorredora.BackgroundLogin {
  background-image: url("#{resource['gather:images/bg-login.svg']}");
  background-color: #FFFFFF;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: repeat-y , repeat-x;
}

.ClienteCorredora.Background {
  background-image: url("#{resource['gather:images/bg-login.svg']}");  
  background-color: #F3F7F9;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: repeat-y , repeat-x;
}

.ClienteCorredora{
    background-image: none; 
}

.ClienteCorredora #layout-topbar {
  background-color: #37474F;
}

.DarkBlueButton{
    background-color: #166F9B;
}

.SoftLightBlueBack{
    background-color: rgba(190, 238, 254, 0.1);
}

.Kpi{
    padding: 0px !important;
    
}

.KpiIcon{   
    padding: 10px !important;
    color: #fff;
    text-align: left;
}


.KpiValue{    
    padding: 10px !important;
    color: #fff;
}

.KpiTitle{
    padding: 0px !important;
    bottom: 0px;
    color: #fff;
}

.breadCrumb ul{
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   margin: 0px;
}

.breadCrumb li{
   list-style-type: none;
   display: inline;
   padding-right: 5px;
}


/* REESCRIBIR THEME UI*/
.ui-panel .ui-panel-titlebar{
    background-color: #5F6C72;
    padding: 7px !important;
}

.ui-dialog .ui-dialog-content{
    padding: 0px !important;
}

.ui-datatable .ui-datatable-header{
    text-align: left; 
    color: #333333;
    background-color: #ffffff
}
.ui-datatable table thead tr th {
    background-color: #89a3b0;
    color: #FFFFFF;
    font-size: 13px;
    font-family: "robotolight";
    padding: 5px;
}

/* Texto interior de tablas */
.ui-datatable table tbody tr td {
    font-size: 13px;
    color: #333333;
}


/* Texto interior de widget */

.ui-accordion .ui-accordion-content.ui-widget-content {
    font-size: 14px !important;
    color:#333333; 
    font-family: "robotolight";
    padding: 15px;
    line-height: 200%;
        
}
.ui-accordion-header {
    background-color: #679b91;
}
.ui-accordion .ui-accordion-header.ui-state-active {
    background-color: #74ce7c;
}
.ui-accordion .ui-accordion-header.ui-state-hover {
    background-color: #74ce7c;
}
.ui-inputfield {
    font-size:14px;
}

.ui-accordion .ui-accordion-header.ui-state-disabled, .ui-accordion .ui-accordion-header.ui-state-disabled a{
     background-color: #74ce7c;
}

ui-paginator .ui-paginator-pages .ui-paginator-page {
    font-size: 14px;
}
