<?xml version="1.0" encoding="UTF-8"?>
<Context path="/APIS_GOOGLE_DESARROLLO">
    <Resource name="BeanManager"
              auth="Container"
              type="javax.enterprise.inject.spi.BeanManager"
              factory="org.jboss.weld.resources.ManagerObjectFactory"/>

    <Resource auth="Container"
              name="jdbc/GCB"
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
              type="javax.sql.DataSource"
              driverClassName="com.ibm.db2.jcc.DB2Driver"
              url="jdbc:db2://161.131.198.62:50002/GCB"
              username="db2admin"
              password="fenix"
              initialSize="1"
              maxActive="150"
              maxWait="5000"
              maxIdle="150"
              minIdle="10"
              jdbcInterceptors="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState; org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer"
              jmxEnabled="false"
              logAbandoned="false"
              validationQuery="select 1 from table(values(1)) as x"
              testOnBorrow="true"
              testOnReturn="false"
              testWhileIdle="true"
              removeAbandoned="true"
              removeAbandonedTimeout="60"
              minEvictableIdleTimeMillis="45000"
              timeBetweenEvictionRunsMillis="5000"
              connectionProperties="retrieveMessagesFromServerOnGetMessage=true;"/>
</Context>
